
<header>    
    <div class="navbar">
        <div>
            <a href="">Accueil</a>
        </div>
        <div>
            <a href="">Recette</a>
        </div>
        <div>
            <a href="">Social</a>
        </div>
        <div>
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
    </div>
</header>