{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('test.css') }}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block javascripts %}
<script>
$("document").ready(()=>{
	$.ajax({
		dataType:"json",
		url: "http://localhost:3000/post",
		success: (function (data) {
			console.log(data);
			var body = document.getElementById("container");
			var posts = data
	
			for(var i=0; i<posts.length; i++){
				let post = posts[i]
				console.log(posts)
				var div = document.createElement("div")
				div.innerHTML = `
				<div name="filActus" class="col-sm">
				<div id="testCard" name="testCard" class="row testCard">
					<div class="col-sm">
						<div class="row"> ${post.contenu} </div>
						<div class="row"> ${post.proprietaire}</div>
						<div class="row"> 
							<button class="col-sm">J'aime</button>
							<button class="col-sm">Partager</button>
							<button class="col-sm">Commenter</button>
						</div>
					</div>
					<div class="col-sm">
						<input type=text placeHolder="Commentaire..."></>
					</div>
				</div>
			</div>
				`
				body.appendChild(div)
			}
		})
	
	})
})
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<h1>Bienvenue</h1>

	<div class="row">
		<div name="publicAmis" class="col-sm">
			<h1>Publication Récentes des Amis</h1>
		</div>
		<h1>Fil d'Actualités</h1>
		<div id="container" class="col-sm">
		</div>
		{# <div name="filActus" class="col-sm">
			<h1>Fil d'Actualités</h1>
			<div id="testCard" name="testCard" class="row testCard">
				<div class="col-sm">
					<div class="row"> </div>
					<div class="row"> 
						<button class="col-sm">J'aime</button>
						<button class="col-sm">Partager</button>
						<button class="col-sm">Commenter</button>
					</div>
				</div>

				<div class="col-sm">
					commentaire
				</div>
			</div>
		</div> #}
		<div name="suggest" class="col-sm">
			<h1>Suggestions</h1>
		</div>
	</div>
</div>

{% endblock %}