{% extends 'base.html.twig' %}

{% block stylesheets%}
	<link rel="stylesheet" href="{{ asset('css/profilPage.css') }}"/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
{% endblock %}

{% block javascripts %}
	<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
	<script type='text/javascript'>
		function validate(val) {
v1 = document.getElementById("fname");
v2 = document.getElementById("lname");
v3 = document.getElementById("email");
v4 = document.getElementById("mob");
v5 = document.getElementById("job");
v6 = document.getElementById("ans");

flag1 = true;
flag2 = true;
flag3 = true;
flag4 = true;
flag5 = true;
flag6 = true;

if (val >= 1 || val == 0) {
if (v1.value == "") {
v1.style.borderColor = "red";
flag1 = false;
} else {
v1.style.borderColor = "green";
flag1 = true;
}
}

if (val >= 2 || val == 0) {
if (v2.value == "") {
v2.style.borderColor = "red";
flag2 = false;
} else {
v2.style.borderColor = "green";
flag2 = true;
}
}
if (val >= 3 || val == 0) {
if (v3.value == "") {
v3.style.borderColor = "red";
flag3 = false;
} else {
v3.style.borderColor = "green";
flag3 = true;
}
}
if (val >= 4 || val == 0) {
if (v4.value == "") {
v4.style.borderColor = "red";
flag4 = false;
} else {
v4.style.borderColor = "green";
flag4 = true;
}
}
if (val >= 5 || val == 0) {
if (v5.value == "") {
v5.style.borderColor = "red";
flag5 = false;
} else {
v5.style.borderColor = "green";
flag5 = true;
}
}
if (val >= 6 || val == 0) {
if (v6.value == "") {
v6.style.borderColor = "red";
flag6 = false;
} else {
v6.style.borderColor = "green";
flag6 = true;
}
}

flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6;

return flag;
}
	</script>
{% endblock %}

{% block body %}

	<div>
		<input type="button" name="changeFilter" value="Recettes"/>
	</div>
	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-1"></div>
			<div name="filActus" class="col-sm-8">
				<h2>Fil d'actualités du profil</h2>
			</div>
			<div class="col-sm-2">
				<div name="infosProfil" class="row">
					<body oncontextmenu='return false' class='snippet-body'>
						<div class="container-fluid px-1 py-5 mx-auto">
							<div
								class="row d-flex justify-content-center">
								{# <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center"> #}

								<div class="card">
									<h5 class="text-center mb-4">Mes informations</h5>
									<form class="form-card" onsubmit="event.preventDefault()">
										<div class="row justify-content-between text-left">
											<label class="form-control-label px-3">Nom / Prénom

											</label>
											<input type="text" id="" name="" placeholder="" onblur="" disabled>

											<label class="form-control-label px-3">Email

											</label>
											<input type="text" id="" name="" placeholder="" onblur="" disabled>
											<label class="form-control-label px-3">Anniversaire

											</label>
											<input type="date" id="" name="" placeholder="" onblur="" disabled>

											<label class="form-control-label px-3">Nombre de Publications

											</label>
											<input type="number" id="" name="" placeholder="" onblur="" disabled>
											<label class="form-control-label px-3">Type de profil

											</label>
											<select id="inputState" class="form-control">
												<option>Public</option>
												<option>Privé</option>
											</select>

										</form>
									</div>
									{# </div> #}
								</div>
							</div>
							<div name="amis" class="row">
								<h2>Mes amis</h2>
							</div>
						</div>

					</body>
				</div>
			</div>


	</div>
{% endblock %}
