{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('test.css') }}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Bienvenue sur l'onget social</h1>
		<p>
			Vous êtes sur la page sociale ! Elle vous permettra de trouver vos amis avec sa fonction de recherche ou bien de vous en faire de nouveau avec les suggestions.
		</p>
	</div>
{% endblock %}
