{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('test.css') }}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Résultat de la Recherche</h1>
		<div class="row">
			<div name="personnes" class="col-sm">
				<h2 class="text-center">Personnes</h2>
				<div name="personneRecherche" class="row">
					<div id="testCardPersonne" name="testCard" class="row testCard">
						<div class="col-sm">
							photo
						</div>

						<div class="col-sm">
							Info personne
						</div>

						<div class="col-sm"> 
							<button class="row">Profil</button>
							<button class="row">Recettes</button>
							<button class="row">Ami</button>
						</div>
					</div>
				</div>
			</div>
			<div name="publications" class="col-sm">
				<h2 class="text-center">Publications</h2>
				<div name="recetteRecherche" class="row">
					<div id="testCardRecette" name="testCard" class="row testCard">
						<div class="col-sm">
							photo
						</div>

						<div class="col-sm">
							Info Recette
						</div>

						<div class="col-sm"> 
							<button class="row">Propriétaire</button>
							<button class="row">Détails</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
